@model AspApiSample.Web.Models.Admin.AddRoleModel
@{
    ViewData["Title"] = "Add role";
}

<form asp-controller="Admin" asp-action="AddRole" asp-antiforgery="true" method="post">
    <div class="text-center login-div">
        <main class="form-signin">

            <h1 class="h3 mb-3 fw-normal">Add role</h1>

            <partial name="_ErrorsDisplay" />
            <partial name="_MessagesDisplay" />

            <div class="form-floating mb-2">
                <input asp-for="RoleName" class="form-control" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
        </main>
    </div>
</form>