@model AspApiSample.Web.Models.Admin.AddUserModel
@{
    ViewData["Title"] = "Add user";
}

<div class="card p-3">
    <form asp-controller="Admin" asp-action="AddUser" asp-antiforgery="true" method="post">
        <div class="text-center login-div">
            <main class="form-signin">

                <h1 class="h3 mb-3 fw-normal">Add user</h1>

                <partial name="_ErrorsMessagesDisplay" />

                <div class="d-flex flex-column form-floating mb-2 row">
                    <div class="col">
                        <div class="form-group d-flex flex-row">
                            <label class="col-2 col-form-label" asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                        </div>
                        <div class="form-group d-flex flex-row col row">
                            <div class="col form-group d-flex flex-row">
                                <label class="col-4 col-form-label" asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" />
                            </div>
                            <div class="col form-group d-flex flex-row">
                                <label class="col-4 col-form-label" asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group d-flex flex-row">
                            <label class="col-2 col-form-label" asp-for="SelectedRoles"></label>
                            <div class="w-100">
                                <select class="multiselect multiselect-filter form-control"
                                        asp-for="SelectedRoles"
                                        asp-items="@(new MultiSelectList(Model.Roles, "Name", "Name"))"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group d-flex flex-row col row">
                            <div class="col form-group d-flex flex-row">
                                <label class="col-4 col-form-label" asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                            </div>
                            <div class="col form-group d-flex flex-row">
                                <label class="col-4 col-form-label" asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="w-25 btn btn-primary">Submit</button>
            </main>
        </div>
    </form>
</div>