@model AspApiSample.Web.Models.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<partial name="_ErrorsMessagesDisplay" />

<a asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
<a asp-area="" asp-controller="Admin" asp-action="Roles">Roles</a>