@model AspApiSample.Web.Models.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<partial name="_ErrorsMessagesDisplay" />

<a class="btn btn-primary m-2" asp-area="" asp-controller="Admin" asp-action="Users">Users</a>
<a class="btn btn-primary m-2" asp-area="" asp-controller="Admin" asp-action="Roles">Roles</a>
