@model AspApiSample.Web.Models.Admin.RolesModel
@{
    ViewData["Title"] = "Roles";
}

<partial name="_ErrorsMessagesDisplay" />

<div class="card p-3 m-2">
    <div class="table-responsive">
        <table class="table table-striped table-hover text-center">
            <caption>Roles</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <th scope="row">@role.Id</th>
                        <td>@role.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<a class="btn btn-primary m-2" asp-controller="Admin" asp-action="AddRole">Add role</a>