@model AspApiSample.Web.Models.Login.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Style
{
    <style>
        .login-div {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
}

<form asp-area="" asp-controller="Login" asp-action="ResetPassword" asp-antiforgery="true" method="post">
    <div class="text-center login-div">
        <main class="form-signin">

            <h1 class="h3 mb-3 fw-normal">Reset password</h1>

            <partial name="_ErrorsMessagesDisplay" />

            <input asp-for="Email" />
            <input asp-for="Token" />

            <div class="form-floating mb-2">
                <input class="form-control" asp-for="Password" />
                <input class="form-control" asp-for="ConfirmPassword" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
        </main>
    </div>
</form>