@model AspApiSample.Web.Models.Account.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

@section Style
{
    <style>
        .login-div {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
}

<form asp-controller="Account" asp-action="ChangePassword" asp-antiforgery="true" method="post">
    <div class="text-center login-div">
        <main class="form-signin">

            <h1 class="h3 mb-3 fw-normal">Change password</h1>

            @if (Model.Errors is not null)
            {
                @foreach (var error in Model.Errors)
                {
                    <p class="text text-danger">@error</p>
                }
            }

            <input asp-for="EmailAddress"/>

            <div class="form-floating mb-2">
                <input class="form-control" asp-for="CurrentPassword"/>
                <input class="form-control" asp-for="NewPassword"/>
                <input class="form-control" asp-for="ConfirmNewPassword"/>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mb-4">Submit</button>
        </main>
    </div>
</form>