@model AspApiSample.Web.Models.Account.ForgotPasswordConfirmModel
@{
    ViewData["Title"] = "ForgotPasswordConfirm";
}

<h1>ForgotPasswordConfirm</h1>

<p>
    @{
        /* The link has been sent to @Model.Email, please check your email to reset your password. */
    }
    A link has been sent to @Model.Email, please check your email to reset your password.
</p>