@model AspApiSample.Web.Models.Account.ForgotPasswordConfirmModel
@{
    ViewData["Title"] = "ForgotPasswordConfirm";
}

<h1>Forgot password</h1>

<p>
    A link has been sent to @Model.Email, please check your email to reset your password.
</p>